
.awpy-legend {
  padding: 0.8em;
  text-align: center;
  font-size: x-small;
}

.awpy-comparison-summary {
  font-weight: bold;
  text-align: center;
}

.awpy-row-graph {
  padding: 1.2em;
  border-bottom: 1px dotted grey;
}

.awpy-row-footer {
  padding: 1.2em;
  text-align: center;
}
